.m-flashSale{
    background: #eee;
}
.lastTime{
    background: #fff;
    text-align: center;
    height: .78rem;
    line-height: .78rem;
    border-left: .02rem solid rgba(255,11,14,.5);
    border-right: .02rem solid rgba(255,11,14,.5);
}
.lastTime i{
    display: inline-block;
    width: .36rem;
    height: .36rem;
    background-color: #333;
    border-radius: .18rem;
    font-size: .29333rem;
    line-height: .36rem;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
}
.screen-tabs{
    height: 1.04rem;
    border-top-left-radius: .10667rem;
    border-top-right-radius: .10667rem;
    overflow: hidden;
}
.screen-tabs>.t-inner{
    display: flex;
    align-items: center;
    height: 1.04rem;
    background: url('https://yanxuan.nosdn.127.net/7f2f2c90000c9856f2ad1857a3b7225b.png') no-repeat;
}
.t-item{
    flex: 1;
    position: relative;
    height: 1.04rem;
    text-align: center;
}
.time{
    margin-top: .16rem;
    font-size: .3rem;
    opacity: .7;
    color: #FFF;
    text-align: center;
    line-height: .36rem;
}
.statusTxt{
    margin-top: .02rem;
    color: #fff;
    font-size: .22rem;
    opacity: .7;
    text-align: center;
    line-height: .36rem;
}
.time-content{
    padding: 0 .3rem;
}
.sc-list{
    margin-top: -.1rem;
    border: .02rem solid rgba(255,11,14,.5);
    border-radius: 0 0 .10667rem .10667rem;
    border-top: none;
    background-color: #fff;
}
.sc-item{
    margin-left: .2rem;
    margin-right: .2rem;
    padding-left: 0;
    height: 2.8rem;
}
.sc-item a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: .2rem;
    box-sizing: border-box;
}
.sc-left{
    margin-right: .14rem;
    width: 2.2rem;
    height: 2.2rem;
    float: left;
}
.sc-left img{
    width:100%;
    height: 100%;
}
.sc-right{
    width: 2.9rem;
    float: right;
}
.innerName{
    margin-bottom: .02rem;
    font-size: .3rem;
    line-height: .4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: .01rem;
}
.desc{
    margin-bottom: .12rem;
    line-height: .36rem;
    font-size: .26rem;
    color: #F48F17;
}
.price-saleD{
    margin-bottom: .2rem;
}
.price-saleD span{
    display: inline-block;
    height: .44rem;
    line-height: .44rem;
}
.actulPrice{
    margin-right: .06rem;
    vertical-align: bottom;
    color: #DD1A21;
    font-weight: 700;
    font-size: .4rem;
}
.retailPrice{
    color: #999;
    font-size: .22rem;
    margin-right: .12rem;
    text-decoration: line-through;
}
.discount{
    color: #DD1A21;
    white-space: nowrap;
    max-width: 2.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.progressWrap{
    display: inline-block;
    padding: 0 .2rem;
    line-height: .36rem;
    height: .36rem;
    border: 1px solid #B4282D;
    color: #B4282D;
    background: #fff;
    border-radius: .18rem;
}
.see_btn{
    width: 1.26rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .22rem;
    font-weight: 700;
    color: #fff;
    border: 0;
    border-radius: .33333rem;
    background: #FF505E;
}

.googGoods{
    margin: 0.2rem .3rem 0;
    background: #fff;
    border-radius: .10667rem;
}
.foorTitle{
    height: .89rem;
    line-height: .89rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #333;
    font-size: .3rem;
}
.goodItem{
    margin: 0 .26667rem;
}
.goodItem a{
    display: block;
    height: 2.6rem;
}
.showPinj{
    background: #F4F4F4;
    border-radius: .54667rem;
    margin-bottom: .2rem;
    display: flex;
    padding: .09rem .2rem;
    overflow: hidden;
    position: relative;
    height: .4rem;
    line-height: .4rem;
}
.seeMore{
    margin: .3rem;
    padding: 0 .2rem 0;
    height: .94rem;
    background: #fff;
    border: .01333rem solid #979797;
    border-radius: .05333rem;
    line-height: .94rem;
    text-align: center;
    font-size: .32rem;
    color: #333;
}
